<div id="signIn-modal">
    <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="signInModalLabel">Sign In</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success">Sign in</button>
            </div>
            </div>
        </div>
    </div>
</div>