<div class="not-login">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light btn-sm btn-sign-in" data-bs-toggle="modal" data-bs-target="#signInModal">Sign in</button>
        <button type="button" class="btn btn-secondary btn-sm btn-register">Register</button>
    </div>
</div>
<div class="login">
    <span>Nguyen Huu Dung</span>
    <button type="button" class="btn btn-secondary btn-sm btn-logout">Log out</button>
</div>
